*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins';
    font-size: 18px;
}
ul
{
    list-style: none;
}
.header
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: header 2s;
}
@keyframes header
{
    from
    {
        filter: blur(10px);
    }
    to
    {
        filter: blur(0);
    }
}

.main
{
    display: flex;
    position: relative;
    padding: 12px 20px;
    width: 1140px;
    height: 50px;
    background-color: #8872a034;
    /* filter: drop-shadow(2px 2px 1px #8d888f4a); */
    margin: 0 auto;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    color: #9031e8;
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 22px;
}
.navbar
{
    display: flex;
    column-gap: 30px;
    list-style: none;
    font-weight: bolder;
    color: #f4f4f4;
    cursor: pointer;
}
.ul-one li
{
   position: relative;
}
.ul-one li::after /*fixed for hovering*/
{               
    position: absolute;    
    content: "";                              
    top: -1.5px;                                          
    left: 0;                         
    width: 0; /*in default 100% for measurement ,but having a hover effect the width will (0/0px)*/
    height: 3px;              
    border-radius: 5px;                          
    background-color: #bb6eff;  
    transition: 0.7s;                    
}
/* .ul-one li::before /**fixed for hovering
{               
    position: absolute;    
    content: "";                              
    bottom: -2.5px;                                          
    right: 0;                         
    width: 0; /**in default 100% for measurement ,but having a hover effect the width will (0/0px)
    height: 3px;              
    border-radius: 5px;                          
    background-color: #921fd5;  
    transition: 0.7s;                    
} */

.ul-one li:hover::after
{
    width: 70%;
}
/* .ul-one li:hover::before
{
    width: 70%;
} */
 
.ul-one li:hover
{
    color: #663cff;
    transition: 0.6s;
}
.button button
{
    padding: 15px 35px;
    background: #ffffffee;
    border-radius: 25px;
    border: none;
    font-family: "Montserrat";
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #911ffa;
    cursor: pointer;
}
.button button:hover
{
    background-color: #2c2c2c;
}
.drop
{
    position: relative;
    overflow: hidden;
}
.ul-two
{
    position: absolute;
    top: 100px;
    left: -15px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.4s;
    background: hsla(283, 14%, 30%, 0.521);
    border-radius: 7px;
}
.ul-two li
{
    padding: 10px 0; 
    color: #ffffff;
}
.drop:hover .ul-two
{
    top: 25px;
}
.drop:hover
{
    overflow: visible;
    transition: 0.4s;
}
.drop-1
{
    position: relative;
    overflow: hidden;
}
.ul-three
{
    position: absolute;
    padding: 5px 25px;
    top: 0px;
    left: 110px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.4s;
    background: hsla(286, 19%, 49%, 0.315);
    border-radius: 7px;
}
.ul-three li
{
    height: 15px;
    padding: 10px 0;
    margin-top: -5px;
}
.drop-1:hover .ul-three
{
    left: 93px;
}
.drop-1:hover
{
    overflow: visible;
}
.drop-1 ul li
{
    color: #fca800;
}
.drop-1 ul li:hover
{
    color: #f4f4f4;
}

.drop li:hover
{
    color: #944cd6;
}
.drop li:hover::after
{
    width: 0;
}
.drop li:hover::before
{
    width: 0;
}

.list
{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: -74px;
    overflow: hidden;
}

.list img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.list .item .content
{
    position: absolute;
    top: 12%;
    width: 1140px;
    max-width: 100%;
    margin-top: 30px;
    left: 48.75%;
    transform: translate(-50%);
    padding-right: 25px;
    box-sizing: border-box;
    text-shadow: 0 5px 10px #000000;
    color: #faf4ff;
}
.list .item .content .title
{
    font-weight: 700;
    letter-spacing: 10px;
}
.list .item .content .head
{
    font-weight: bold;
    font-size: 60px;
    color: #921fd5;
}

.list .item .content .description
{
    font-size: 15px;
    color: #fdfafa;
    margin-top: 10px;
}
.list .item .content .episodes b,
.list .item .content .genre b,
.list .item .content .studios b
{
    color: #944cd6;
    font-size: 1.5rem;
    /* transform: translate(-50%); */
}
.list .item .content .episodes,
.list .item .content .genre,
.list .item .content .studios
{
    padding: 2px 0;
    margin-top: 1px;
    font-size: 18px;
}
.list .item .content .button button
{
    width: 180px;
    height: 40px;    
    padding: 10px 0;
    margin-top: 10px;
    color: #ecd6ff;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.list .item-list 
{
    position: relative;
    display: flex;
    padding: 4px;
    /* bottom: 5%;
    /* left: 10.9%; */
    /* width: max-content;
    height: 110px;  */
    filter: blur(0);
    object-fit: cover;
    gap: 8.4px;
}
.container-item-list
{
    position: absolute;
    top: 89%;
    left: 49.85%;
    transform: translate(-50%, -50%);
}






.list .item-list .item1 img
{
    width: 184px;
    height: 110px;
    margin-top: 15px;
    filter: blur(0);
    border: 3px solid #8a6aff;
    border-radius: 10px;
    box-shadow: 0 5px 7px #3d3d3dc6;
    object-fit: cover;
    cursor: pointer;
}
